/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
/* Глобальные стили для безопасной зоны */
ion-app {
    --ion-safe-area-top: env(safe-area-inset-top);
    --ion-safe-area-bottom: env(safe-area-inset-bottom);
    --ion-safe-area-left: env(safe-area-inset-left);
    --ion-safe-area-right: env(safe-area-inset-right);
  }
  
  /* Принудительное применение для всех страниц */
  ion-page {
    padding-top: var(--ion-safe-area-top, 20px) !important;
    padding-bottom: var(--ion-safe-area-bottom, 0px) !important;
    padding-left: var(--ion-safe-area-left, 0px) !important;
    padding-right: var(--ion-safe-area-right, 0px) !important;
  }
  
  /* Альтернативный вариант - через contain */
  ion-page {
    contain: layout style !important;
    position: relative !important;
  }