.cr-div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    width: 90%;
}


@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto.ttf") format("truetype");
}

.roboto {
    font-family: "Roboto";
    line-height: medium;
    letter-spacing: 40;
}

.cr-card{
    margin-left: 1em;
    margin-right: 1em;
    background-color: white;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 0.5em;
}

.cr-chip{
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var( --dop-color);
    border-radius: 1em;
    color: white;
    font-size: 0.7em;
}

.cr-detali{
    padding: 0.5em;
    background-color: #BAD3FA;
    border-radius: 5px;
}