.c-files {
    display: flex;
    overflow-x: hidden;
}

.c-img {
    width: 15em;
    height: 15em;
    min-width: 100%;
    object-fit: contain;
    transition: transform 2.5s ease;
}

.c-img-back {
    position: absolute;
    width: 2em;
    height: 2em;
    top: 30%;
    left: 1em;
}
.c-img-forward {
    position: absolute;
    width: 2em;
    height: 2em;
    top: 30%;
    right: 1em;
}


.c-card {
    padding: 1em;
    background-color: var(--main-color);
    color: white;
}

.c-card-1 {
    padding: 1em;
    background-color: var(--background-color);
    color: black;
}

.c-modal {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    --backdrop-opacity: 0;
    --background: rgba(235, 235, 235, 0.75);
}

.c-icon {
    width: 2em;
    height: 2em;
    background-color: var(--main-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-icon1 {
    width: 6em;
    height: 4em;
    background-color: var(--background-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corner-ribbon {
    width: 200px;
    position: absolute;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
  
.corner-ribbon.top-right {
    top: 25px;
    right: -50px;
    left: auto;
}  

/* Если нужно фиксированное позиционирование относительно страницы */
.corner-ribbon.sticky {
    position: fixed;
}
  
  /* Для добавления легкой тени */
.corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-red {
    background: #e43; /* Цвет ленты */   
}

.corner-yellow {
    background: rgb(143, 135, 27); /* Цвет ленты */   
}

.corner-green {
    background: rgb(34, 197, 42); /* Цвет ленты */   
}

.corner-blue1 {
    background: rgb(11, 143, 219); /* Цвет ленты */   
}

.corner-blue2 {
    background: rgb(18, 15, 209); /* Цвет ленты */   
}

.c-input {
    border: 1px solid var(--main-color);
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px;
    background-color:white ;
    color: black;
    transition: background-color 0.3s ease;
}

.c-panel {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c1-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4em; /* Ширина квадрата */
    height: 4em; /* Высота квадрата */
    
  }

  .circle-1 {
    width: 2em; /* Ширина круга */
    height: 2em; /* Высота круга */
    border-radius: 50%; /* Закругление углов */
    border: 5px solid var(--main-color); /* Толщина и цвет границы */
    box-sizing: border-box; /* Чтобы граница не выходила за пределы элемента */
  }

  .circle-2 {
    width: 2em; /* Ширина круга */
    height: 2em; /* Высота круга */
    border-radius: 50%; /* Закругление углов */
    border: 5px solid var(--dop-color); /* Толщина и цвет границы */
    box-sizing: border-box; /* Чтобы граница не выходила за пределы элемента */
  }

