
.p-img {
    width: 13em;
    height: 13em;
    object-fit: contain;
    background-color: var(--background-color);
    border-radius: 5px;
}

.p-icon {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border-radius: 5px;
}

.p-input {
    width: 90wh;
    height: 7em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    background-color: var(--dop-color);
    border-radius: 5px;
    padding: 1em;
}

.p-inp {
    border: 1px solid silver;
    padding-left: 1em;
    border-radius: 0.5em;
    background-color: white;
}

.p-tags {
    display: flex;
    flex-wrap: wrap;
}

.white-svg {
    filter: invert(100%) brightness(100%) contrast(100%);
}